.container {
  max-width: 800px;
  color: #f0e6d2;
}

h1 {
  color: #c8aa6e;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form-card {
  background-color: #1a2332;
  border: 2px solid #c8aa6e;
  color: #f0e6d2;
  
  .form-label {
    color: #c8aa6e;
    font-weight: bold;
  }
  
  .form-control, .form-select {
    background-color: #0a1428;
    border: 1px solid #c8aa6e;
    color: #f0e6d2;
    
    &:focus {
      background-color: #0a1428;
      border-color: #f0e6d2;
      color: #f0e6d2;
      box-shadow: 0 0 0 0.25rem rgba(200, 170, 110, 0.25);
    }
    
    &::placeholder {
      color: #7a7565;
    }
  }
  
  .form-range {
    &::-webkit-slider-thumb {
      background: #c8aa6e;
    }
    
    &::-moz-range-thumb {
      background: #c8aa6e;
    }
  }
}
